<section class="about-1 ">
    <div class="mask">
        <div class="  container text">
            <div class="row nav justify-content-around">
                <h1>ABOUT</h1>
            </div>
            <div class="row nav justify-content-around">
                <h2>We strive to offer every individual customer the best possible PC experience</h2>
                <h2>from start to finish no matter what PC they have purchased from us.</h2>
            </div>
        </div>
    </div>
</section>



<section class="about-2">
    <div class="mask">
        <div class="container text">
            <div class="row nav justify-content-around">
                <h1>WHO WE ARE</h1>
            </div>
            <div class="row nav justify-content-around">
                <h2>PCGAMER is a PC company that builds award winning</h2>
            </div>
            <div class="row nav justify-content-around">
                <h2>custom PCs for gamers, enthusiasts, and professionals.</h2>
            </div>
        </div>
    </div>
</section>

<section class="about-3 ">
    <div class="mask">
        <div class="row nav justify-content-center map">
            <div class="col-xl-6 map-text">
                <h1 >WHERE TO FIND US</h1>
            </div>
            <div class="col-xl-6">
                <!-- <agm-map [latitude]="lat" [longitude]="lng">
                    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                </agm-map> -->
            </div>
        </div>
    </div>
</section>