<div class="mini-carousel">
    <div class="container">
      <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="false" interval="12000" [keyboard]="true"
        [pauseOnHover]="true" [wrap]="true" [activeId]="'secondSlide'">
        
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../assets/images/mini_carusel_1.jpg" alt="Angular Carousel 1">
          </div>
        </ng-template>
  
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../assets/images/mini_carusel_2.jpg" alt="Angular Carousel 1">
          </div>
        </ng-template>
  
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../assets/images/mini_carusel_3.jpg" alt="Angular Carousel 1">
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
  

<div class="wrapper">
    <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="true" interval="12000" [keyboard]="true"
        [pauseOnHover]="true" [wrap]="true" [activeId]="'secondSlide'">

        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../.././../assets/images/october-promo-lg.webp" alt="Angular Carousel 1">
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../.././../assets/images/new-chronos-lg.jpg" alt="Angular Carousel 2">
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../.././../assets/images/nvidia-30-series-3090-lg.jpg" alt="Angular Carousel 2">
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../.././../assets/images/nvidia-cyberpunk-2077-lg.webp" alt="Angular Carousel 2">
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../.././../assets/images/crysis-remastered-lg.webp" alt="Angular Carousel 2">
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../.././../assets/images/rts-systems-eon15-x-amd.webp" alt="Angular Carousel 2">
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../.././../assets/images/pc-mag-neuron-lg.webp" alt="Angular Carousel 2">
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../.././../assets/images/samsung-980-pro-lg.webp" alt="Angular Carousel 2">
            </div>
        </ng-template>

    </ngb-carousel>


    <div class="products">

        
    </div>


</div>