<section id="main">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center title">
                <h1>SPECIAL OFFERS</h1>
            </div>
        </div>
    </div>
</section>


<section id="promo">
    <div class="container">
        <div>
            <h2>NEXT-GEN POWER HAS ARRIVED</h2>
            <p>Purchase Select PCs and Get:</p>
            <ul>
                <li>US Ground Shipping*></li>
                <li>Bonus Digital Games*</li>
                <li>And More!*</li>
            </ul>

            <a class="btn btn-outline-light btn-md waves-effect waves-light learn-more">LEARN
                MORE</a>

        </div>
    </div>
</section>

<section id="promo-2">

    <div class="row">
        <div class="col-lg-4">
            <img src="https://cdn.originpc.com/img/special-offers/rts.jpg" class="img-fluid w-100">
            <div class="mask">
                <div class="details text-center">
                    <h3 class="text-uppercase p-2">READY-TO-SHIP SYSTEMS</h3>
                    <p>Choose from our select limited quantity systems, ready to ship out within 1-2 business days!</p>
                    <a href="/landing/2019/rts-systems/"
                        class="btn btn-danger btn-lg opacity-0 waves-effect waves-light">Learn More</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <img src="https://cdn.originpc.com/img/special-offers/promo.jpg" class="img-fluid w-100">
            <div class="mask">
                <div class="details text-center">
                    <h3 class="text-uppercase p-2">MONTHLY PROMOTIONS</h3>
                    <p>Get free games, hardware upgrades and more added value on select gaming desktops and laptops!</p>
                    <a href="/landing/2019/rts-systems/"
                        class="btn btn-danger btn-lg opacity-0 waves-effect waves-light">Learn More</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <img src="https://cdn.originpc.com/img/special-offers/financing.jpg" class="img-fluid w-100">
            <div class="mask">
                <div class="details  text-center">
                    <h3 class="text-uppercase p-2">READY-TO-SHIP SYSTEMS</h3>
                    <p>Apply today for special pre-approved online financing now available on all systems!</p>
                    <a href="/landing/2019/rts-systems/"
                        class="btn btn-danger btn-lg opacity-0 waves-effect waves-light">Learn More</a>
                </div>
            </div>
        </div>
    </div>

</section>